*{
  outline: 1px solid white;
}

body{
  color:white;
  text-align: center;
  font-size: 2em;
  
}

.container{
  display: flex;
  flex-direction: column;
  height: 100vh;
  gap: 20px;

}


.a{
  background-color: blue;
  flex-grow: 1;
  max-height: 25vh;

}

.b{
  background-color: brown;
  flex-grow: 10;
  min-height: 55vh;
  min-width: 55vw;

}

.c{
  background-color: blueviolet;
  flex-grow: 1;

}

@media(min-width: 600px) {

  .container{
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
  }

  .a{
    width: 100vw;
  }
}